@model IEnumerable<ProductViewModel>
@{
    ViewData["Title"] = "Products";
}

<div class="row">
    <!-- SIDEBAR -->
    <div class="col-md-4 col-lg-2 col-xl-2 ">
        <partial name="_Sidebar" />
    </div>

    <div class="col-md-8 col-lg-10 col-xl-10">

        <!-- HEADER & SEARCH FORM -->
        <div class="d-flex justify-content-around">
            <div>
                <partial name="_SearchForm" />
            </div>
            <div class="d-flex justify-content-end">
                <partial name="_CartPartial" />
            </div>
        </div>

        <hr class="bg-info h-2">

        @if (Model.Count() > 0)
        {
            <div class="row">
                @foreach (var product in Model)
                {
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 text-center mb-5">
                        <div class="thumbnail">
                            <div class="caption">
                                <a asp-action="Details" asp-route-id="@product.Id" asp-controller="Products">
                                    @if (@product.ImageURI != null)
                                    {
                                        <img src="@product.ImageURI" class="product-image">
                                    }
                                    else
                                    {
                                        <img src="http://www.indiantradebird.in/images/noimage.jpg" class="product-image">
                                    }
                                </a>
                                <h5 class="mt-2">@product.Name</h5>
                                <p>$@product.Price</p>
                                <a asp-action="Details" asp-route-id="@product.Id" asp-controller="Products">
                                    <button class="btn btn-sm btn-info">View</button>
                                </a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
        else
        {
            <h4><i>There are no products for sale yet.</i></h4>
        }
    </div>
</div>