@page
@model SoppingCartStore.Web.Pages.Orders.CreateModel
@{
    ViewData["Title"] = "My Cart";
}

<!-- HEADER & SEARCH FORM -->
<div class="d-flex justify-content-around">
    <div>
        <partial name="_SearchForm" />
    </div>
    <div class="d-flex justify-content-end">
        <partial name="_CartPartial" />
    </div>
</div>

<hr class="bg-info h-2" />
<form method="post" asp-page="/Orders/Create">
    <div class="row">
        <div class="col-md-8">
            @if (Model.Input.Items != null)
            {
                <div class="row">
                    @for (int i = 0; i < Model.Input.Items.Count(); i++)
                    {
                        <div class="col-md-5 p-3 m-2 text-center">
                            <div class="">
                                @if (Model.Input.Items[i].Product.ImageURI != null)
                                {
                                    <img src="@Model.Input.Items[i].Product.ImageURI" class="product-image">
                                }
                                else
                                {
                                    <img src="http://www.indiantradebird.in/images/noimage.jpg" class="product-image">
                                }
                            </div>
                            <div class="col">
                                <h4>@Model.Input.Items[i].Product.Name</h4>
                            </div>
                            <hr />
                            <div class="col">
                                <h4>Price: $@Model.Input.Items[i].Product.Price</h4>
                            </div>
                            <hr />
                            <div class="col">
                                <h4>Quantity: @Model.Input.Items[i].ProductQuantity</h4>
                            </div>
                            <div class="col mt-3">
                                <a asp-controller="Cart" asp-action="RemoveFromCart" asp-route-id="@Model.Input.Items[i].Product.Id">
                                    <i class="text-danger">Remove</i>
                                </a>
                            </div>
                        </div>
                        <input name="ItemIds" value="@Model.Input.Items[i].Id" type="hidden" />
                    }
                </div>
            }
            else
            {
                <h4><i>You haven't added any products to your cart yet.</i></h4>
            }
        </div>
        <div class="col-md-4">
            <div class="col">
                <h5>Order Summary</h5>
            </div>
            <hr class="bg-info" />
            <div class="col">
                <p>Subtotal: <i class="text-success">$@Model.Input.Price</i></p>
                <hr />
            </div>
            <div class="col">
                <p>Discount: 0%</p>
                <hr />
            </div>
            <div class="col">
                <p>Order Total: <i class="text-success">$@Model.Input.Price</i></p>
                <input asp-for="Input.Price" type="hidden" value="@Model.Input.Price" class="form-control" />
                <hr />
            </div>
            <div class="col">
                <p>Your Balance: <i class="text-success">$@Model.Input.CustomerBalance</i></p>
                <input asp-for="Input.CustomerBalance" type="hidden" value="@Model.Input.CustomerBalance" class="form-control" />
                @if (Model.Input.CustomerBalance < Model.Input.Price)
                {
                    <i class="text-danger">Insuficient Funds. Consider making a deposit.</i>
                }
                <hr />
            </div>
            @if (Model.Input.Items != null)
            {
                <div class="col">
                    <div class="form-group">
                        <label asp-for="Input.CreateOrderBindingModel.DeliveryAddress">Delivery Address</label>
                        <input asp-for="Input.CreateOrderBindingModel.DeliveryAddress" placeholder="Enter Delivery Address..." type="text" name="DeliveryAddress" class="form-control" />
                        <span asp-validation-for="Input.CreateOrderBindingModel.DeliveryAddress" class="text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label asp-for="Input.CreateOrderBindingModel.OrderNote">Order Note:</label>
                        <textarea asp-for="Input.CreateOrderBindingModel.OrderNote" name="OrderNote" placeholder="Order Note (Not Mandatory)" class="form-control" rows="5"></textarea>
                        <span asp-validation-for="Input.CreateOrderBindingModel.OrderNote" class="text-danger"></span>
                    </div>
                </div>
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="col">
                    <button type="submit" class="w-100 btn btn-info">Order</button>
                    <hr />
                </div>
            }
        </div>
    </div>
</form>
